<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_maker_slx_kdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,942},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ice_maker_slx_kdtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,862},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ice_maker_ui_bgt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>ice_maker_ui_bgt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>ice_maker_ui_bgt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,704},{320,156}}</string>
                <key>offset</key>
                <string>{0,-162}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,324},{320,156}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>ice_maker_ui_xzk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,76},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ice_maker_ui_xzk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ice_maker_ui_zzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,356},{320,314}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{320,314}}</string>
                <key>sourceSize</key>
                <string>{320,316}</string>
            </dict>
            <key>ice_maker_xzsl_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{56,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{56,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ice_maker_xzsl_tat.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,150},{72,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{72,70}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>ice_maker_zbj_dbx_bst.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,714},{250,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,198}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>ice_maker_zbj_dbx_bst1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,202},{250,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,198}}</string>
                <key>sourceSize</key>
                <string>{250,198}</string>
            </dict>
            <key>ice_maker_zbj_dbx_dbx.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{352,394}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{352,394}}</string>
                <key>sourceSize</key>
                <string>{354,436}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,964},{96,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,58}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,966},{77,32}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{77,32}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,610},{76,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,532},{76,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,454},{76,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,672},{76,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_dbx_xsb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,672},{76,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{76,30}}</string>
                <key>sourceSize</key>
                <string>{96,58}</string>
            </dict>
            <key>ice_maker_zbj_ylj_clt.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,602},{96,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>ice_maker_zbj_ylj_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,672},{98,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,40}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>ice_maker_zbj_ylj_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,672},{92,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{92,38}}</string>
                <key>sourceSize</key>
                <string>{98,40}</string>
            </dict>
            <key>ice_maker_zbj_ylj_ylj.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{198,224}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{198,224}}</string>
                <key>sourceSize</key>
                <string>{200,226}</string>
            </dict>
            <key>ice_maker_zbj_ylj_ylt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,966},{54,80}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,156}</string>
            </dict>
            <key>ice_maker_zbj_ylj_ylt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,966},{54,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,156}}</string>
                <key>sourceSize</key>
                <string>{54,156}</string>
            </dict>
            <key>ice_maker_zbj_ylj_ylt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,966},{54,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,156}}</string>
                <key>sourceSize</key>
                <string>{54,156}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,862},{70,242}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,24},{70,242}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,454},{70,244}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{70,244}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,454},{70,244}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{70,244}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,356},{70,244}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{70,244}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,468},{70,244}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{70,244}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,222},{70,244}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,22},{70,244}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,704},{80,250}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{80,250}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
            <key>ice_maker_zl_gzt_gzt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,712},{80,250}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,16},{80,250}}</string>
                <key>sourceSize</key>
                <string>{236,266}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ice_ui1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a662b31e84af13121ed611d1e5534a2b:1/1$</string>
            <key>textureFileName</key>
            <string>Ice_ui1.png</string>
        </dict>
    </dict>
</plist>
