<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_maker_mxt-mxdp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{268,228}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{268,228}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,700},{48,182}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,89},{48,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,700},{58,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,101},{58,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,946},{58,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,101},{58,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,886},{58,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,101},{58,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,248},{174,182}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,84},{174,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,64},{174,182}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,84},{174,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{174,182}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,84},{174,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,188},{50,164}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,90},{50,164}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,666},{50,164}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,90},{50,164}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,666},{50,164}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,90},{50,164}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,714},{152,182}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{152,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,592},{48,182}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,89},{48,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,248},{152,182}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{152,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,64},{152,182}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,80},{152,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{144,178}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{144,178}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,182},{144,178}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{144,178}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{144,178}}</string>
                <key>offset</key>
                <string>{0,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,96},{144,178}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,666},{52,166}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{52,166}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,666},{52,166}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,107},{52,166}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,612},{52,166}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,107},{52,166}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,700},{58,184}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,83},{58,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,484},{58,184}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,83},{58,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,542},{48,182}}</string>
                <key>offset</key>
                <string>{2,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,89},{48,182}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{58,184}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,83},{58,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,700},{48,184}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,87},{48,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,700},{48,184}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,87},{48,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,432},{48,184}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,87},{48,184}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,554},{56,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,101},{56,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,700},{56,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,101},{56,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_gzt_gzt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,642},{56,172}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,101},{56,172}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mjyl_mjyl_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,482},{136,114}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,54},{136,114}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mjyl_mjyl_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,598},{132,100}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{132,100}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mjyl_mjyl_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,450},{138,102}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,64},{138,102}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mjyl_mjyl_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,362},{160,86}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,85},{160,86}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mxt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{152,120}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,46},{152,120}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mxt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,432},{142,108}}</string>
                <key>offset</key>
                <string>{1,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{142,108}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mxt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,182},{150,110}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,55},{150,110}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_mxt_mxt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,898},{174,92}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,79},{174,92}}</string>
                <key>sourceSize</key>
                <string>{320,282}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,536},{52,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,834},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,714},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,612},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{52,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,826},{56,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,826},{56,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,416},{56,68}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,482},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,428},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,946},{52,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,832},{56,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{56,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,408},{52,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,768},{56,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{56,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,754},{56,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{56,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,660},{52,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{52,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,606},{52,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{52,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,552},{52,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{52,66}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,904},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{54,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,906},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{54,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,832},{54,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{54,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,948},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{50,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,896},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{50,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,834},{52,72}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{52,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,904},{50,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{50,70}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,948},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,948},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,948},{56,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{56,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,340},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,264},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_gzt_gzt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,188},{58,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{58,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_ice_ice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,610},{60,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{60,68}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_ice_ice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,884},{70,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{70,62}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_ice_ice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,486},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,64}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_ice_ice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,888},{72,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{72,56}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,680},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,536},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,462},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,354},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,334},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_sl_jzt_jzt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,874},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>ice_maker_ui_adt.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>ice_maker_ui_bgt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ice_ui0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:704d5314663a3142fb046a351d11ecc1:1/1$</string>
            <key>textureFileName</key>
            <string>Ice_ui0.png</string>
        </dict>
    </dict>
</plist>
