<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>miniGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,141},{208,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,126}}</string>
                <key>sourceSize</key>
                <string>{208,126}</string>
            </dict>
            <key>miniZI2.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,723},{110,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,21}}</string>
                <key>sourceSize</key>
                <string>{110,21}</string>
            </dict>
            <key>miniadd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,688},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>minibar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,963},{320,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,60}}</string>
                <key>sourceSize</key>
                <string>{320,60}</string>
            </dict>
            <key>minibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minibj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,957},{65,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,144}}</string>
                <key>sourceSize</key>
                <string>{65,144}</string>
            </dict>
            <key>minibj3jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minid5.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,688},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid6.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,688},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid7.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,688},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid8.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid9.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,992},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minidaojishi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,268},{208,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,126}}</string>
                <key>sourceSize</key>
                <string>{208,126}</string>
            </dict>
            <key>minidh1.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,957},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>minidh2.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,957},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>minidian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,874},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>minidone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,643},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>minigamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,322},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minigbar2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,803},{153,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,152}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>minigold.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,833},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>minigoldbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,643},{157,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,44}}</string>
                <key>sourceSize</key>
                <string>{157,44}</string>
            </dict>
            <key>minikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,745},{87,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,108}}</string>
                <key>sourceSize</key>
                <string>{87,108}</string>
            </dict>
            <key>mininame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,1},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>mininame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,29},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>mininame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,57},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>mininame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,85},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>mininame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,113},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>minipbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,723},{265,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,300}}</string>
                <key>sourceSize</key>
                <string>{265,300}</string>
            </dict>
            <key>miniplay1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,395},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>miniplay2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,477},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>miniselect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,874},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>miniselect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,874},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minitiao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,803},{188,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,52}}</string>
                <key>sourceSize</key>
                <string>{188,52}</string>
            </dict>
            <key>miniunlock1.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,559},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>miniunlock2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,641},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>miniunlock3.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,721},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>miniyun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,723},{116,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,76}}</string>
                <key>sourceSize</key>
                <string>{116,76}</string>
            </dict>
            <key>miniyun2jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,643},{125,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,78}}</string>
                <key>sourceSize</key>
                <string>{125,78}</string>
            </dict>
            <key>miniyun3.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,800},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>miniyun3jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,966},{100,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,57}}</string>
                <key>sourceSize</key>
                <string>{100,57}</string>
            </dict>
            <key>miniyun4jp.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,833},{71,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,40}}</string>
                <key>sourceSize</key>
                <string>{71,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigamelist1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60aa9a5ed3b49329ca2ce9cdf9a4776b:2/4$</string>
            <key>textureFileName</key>
            <string>minigamelist1.png</string>
        </dict>
    </dict>
</plist>
