<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini8.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,442},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>mini9.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,517},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>miniZI1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,387},{186,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,54}}</string>
                <key>sourceSize</key>
                <string>{186,54}</string>
            </dict>
            <key>miniadd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,773},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>minibj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{512,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,256}}</string>
                <key>sourceSize</key>
                <string>{512,256}</string>
            </dict>
            <key>minibj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,978},{45,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,76}}</string>
                <key>sourceSize</key>
                <string>{45,76}</string>
            </dict>
            <key>miniboom.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,770},{207,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,169}}</string>
                <key>sourceSize</key>
                <string>{207,169}</string>
            </dict>
            <key>minidaojishi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,643},{208,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,126}}</string>
                <key>sourceSize</key>
                <string>{208,126}</string>
            </dict>
            <key>minidaojishi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,643},{208,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,126}}</string>
                <key>sourceSize</key>
                <string>{208,126}</string>
            </dict>
            <key>minidbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,773},{224,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,45}}</string>
                <key>sourceSize</key>
                <string>{224,45}</string>
            </dict>
            <key>minidh3.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,442},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>minidh4.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,509},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>minidh5.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,576},{58,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,66}}</string>
                <key>sourceSize</key>
                <string>{58,66}</string>
            </dict>
            <key>minidian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,675},{107,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,91}}</string>
                <key>sourceSize</key>
                <string>{107,91}</string>
            </dict>
            <key>minidone2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,451},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>minigameOver.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,773},{247,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,54}}</string>
                <key>sourceSize</key>
                <string>{247,54}</string>
            </dict>
            <key>minigamenamebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,773},{247,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,44}}</string>
                <key>sourceSize</key>
                <string>{247,44}</string>
            </dict>
            <key>minigbar3.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minigol.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,911},{66,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,15}}</string>
                <key>sourceSize</key>
                <string>{66,15}</string>
            </dict>
            <key>minihs_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,1},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,29},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,57},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,85},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,113},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,141},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,169},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,197},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,225},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minihs_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,253},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minimb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,643},{324,377}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{324,377}}</string>
                <key>sourceSize</key>
                <string>{324,377}</string>
            </dict>
            <key>mininame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,561},{211,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,27}}</string>
                <key>sourceSize</key>
                <string>{211,27}</string>
            </dict>
            <key>minipause.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,643},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>miniqianjing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{512,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,128}}</string>
                <key>sourceSize</key>
                <string>{512,128}</string>
            </dict>
            <key>miniquit1.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,451},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>miniquit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,451},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>minire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,451},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>minire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,451},{188,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,77}}</string>
                <key>sourceSize</key>
                <string>{188,77}</string>
            </dict>
            <key>minireduce3.png</key>
            <dict>
                <key>frame</key>
                <string>{{991,842},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>miniremind6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,770},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>minisc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,911},{66,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,15}}</string>
                <key>sourceSize</key>
                <string>{66,15}</string>
            </dict>
            <key>miniscore_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,281},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,309},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,337},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,365},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,393},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,421},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,449},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,477},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,505},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>miniscore_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,533},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>minitime_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,620},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,620},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,620},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,998},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,998},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitips.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,592},{62,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,27}}</string>
                <key>sourceSize</key>
                <string>{62,27}</string>
            </dict>
            <key>minitsbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,387},{320,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,63}}</string>
                <key>sourceSize</key>
                <string>{320,63}</string>
            </dict>
            <key>minitsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,322},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>minix2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,978},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>minixiangzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,643},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>miniyun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,978},{71,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,45}}</string>
                <key>sourceSize</key>
                <string>{71,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigamelist0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60aa9a5ed3b49329ca2ce9cdf9a4776b:1/4$</string>
            <key>textureFileName</key>
            <string>minigamelist0.png</string>
        </dict>
    </dict>
</plist>
