<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini1wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini2wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,29},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini3wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,57},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini4wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,85},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini5wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,113},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini6.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,700},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>mini6wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,141},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,133},{62,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,74}}</string>
                <key>sourceSize</key>
                <string>{62,74}</string>
            </dict>
            <key>mini7wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,169},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini8wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,197},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>mini9wb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,225},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minibj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,777},{60,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,138}}</string>
                <key>sourceSize</key>
                <string>{60,138}</string>
            </dict>
            <key>minibomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,777},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>miniclock.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,730},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>minicoins1.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,912},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minicoins2.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,906},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minicoins3.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,629},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minicoinsx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,776},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minid1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid10.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,32},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid11.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,63},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid12.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,94},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid13.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,125},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid14.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,156},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid15.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,187},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid16.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,218},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,249},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid3.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,884},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minid4.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,884},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>minidong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minidong2.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minigame.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,884},{106,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,27}}</string>
                <key>sourceSize</key>
                <string>{106,27}</string>
            </dict>
            <key>minigame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,782},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,782},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,782},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,281},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,281},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigame6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,281},{146,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,146}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>minigbar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,782},{153,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,152}}</string>
                <key>sourceSize</key>
                <string>{153,152}</string>
            </dict>
            <key>minih_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,253},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,878},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,877},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,877},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,843},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,736},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,736},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,102},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,102},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,102},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,163},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minih_jian.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,163},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minihs.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,255},{104,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,15}}</string>
                <key>sourceSize</key>
                <string>{104,15}</string>
            </dict>
            <key>minijia.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,196},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minijian.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,224},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>minilock.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,775},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>minimao.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minip14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,936},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip15.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,936},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip16.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,936},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip17.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,929},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip18.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,929},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip19.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,929},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,929},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,929},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,629},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,877},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,938},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,102},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,196},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,196},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>minipause1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,730},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>minipause2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,730},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>miniremind1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,433},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>miniremind2.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,433},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>miniremind3.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>miniremind4.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,428},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>miniremind5.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,280},{253,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,348}}</string>
                <key>sourceSize</key>
                <string>{253,348}</string>
            </dict>
            <key>minis.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,252},{27,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,38}}</string>
                <key>sourceSize</key>
                <string>{27,38}</string>
            </dict>
            <key>miniselect1fd.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,629},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>miniselect2fd.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>minishouzhi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,916},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>minishouzhi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,777},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,95}}</string>
                <key>sourceSize</key>
                <string>{106,95}</string>
            </dict>
            <key>ministart.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,234},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>ministart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,234},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>minitime.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,133},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>minitime_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitime_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,255},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>minitsbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,431}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,431}}</string>
                <key>sourceSize</key>
                <string>{320,431}</string>
            </dict>
            <key>miniwuyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,929},{90,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,59}}</string>
                <key>sourceSize</key>
                <string>{90,59}</string>
            </dict>
            <key>minix1.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,690},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>minixian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,72},{60,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{60,70}</string>
            </dict>
            <key>miniyueliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,929},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>minigamelist2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60aa9a5ed3b49329ca2ce9cdf9a4776b:3/4$</string>
            <key>textureFileName</key>
            <string>minigamelist2.png</string>
        </dict>
    </dict>
</plist>
