<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sl_bgt_bgt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,668},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,668},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,594},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,594},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,520},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,520},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,446},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,446},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,372},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,372},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,298},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,298},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,224},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,224},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,150},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,150},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,76},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>sl_bgt_bgt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{72,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,72}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>zl_bgt_bgt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,646},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>zl_bgt_bgt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,324},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>zl_bgt_bgt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>zl_bgt_bgt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>zl_bgt_bgt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_ui0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abcba18708d3c9540c1ed7243c1efcc5:1/1$</string>
            <key>textureFileName</key>
            <string>bg_ui0.png</string>
        </dict>
    </dict>
</plist>
