<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cream_mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>ice_maker_zl_jzt_jzt_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,233},{215,159}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,88},{215,159}}</string>
                <key>sourceSize</key>
                <string>{227,265}</string>
            </dict>
            <key>ice_maker_zl_jzt_jzt_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,163},{215,159}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,88},{215,159}}</string>
                <key>sourceSize</key>
                <string>{227,265}</string>
            </dict>
            <key>ice_maker_zl_jzt_jzt_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,2},{215,159}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,88},{215,159}}</string>
                <key>sourceSize</key>
                <string>{227,265}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{54,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sd_blbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{320,111}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{320,111}}</string>
                <key>sourceSize</key>
                <string>{320,129}</string>
            </dict>
            <key>slx_kdt.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,636},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>slx_kdtx.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,556},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>sy_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>sy_ic1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,219},{97,108}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{97,108}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,327},{83,92}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{83,92}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,518},{101,100}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{101,100}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,528},{87,84}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,29},{87,84}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic3.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,318},{99,106}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,15},{99,106}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,624},{83,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{83,90}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,419},{97,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{97,102}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,641},{83,86}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{83,86}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic5.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,120},{97,108}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{97,108}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,233},{83,92}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{83,92}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic6.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,525},{97,104}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,17},{97,104}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_ic6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,556},{83,90}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,23},{83,90}}</string>
                <key>sourceSize</key>
                <string>{137,142}</string>
            </dict>
            <key>sy_kjbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>sy_kjic.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{116,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{116,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sy_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,606},{152,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,61}}</string>
                <key>sourceSize</key>
                <string>{152,61}</string>
            </dict>
            <key>tool_gj_zsjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,394},{160,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,174}}</string>
                <key>sourceSize</key>
                <string>{160,174}</string>
            </dict>
            <key>ui_adt.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,966},{320,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,53}}</string>
                <key>sourceSize</key>
                <string>{320,53}</string>
            </dict>
            <key>ui_button_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,669},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_button_homea.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,694},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ui_button_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,426},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>ui_button_nexta.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,324},{100,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,48}}</string>
                <key>sourceSize</key>
                <string>{100,48}</string>
            </dict>
            <key>ui_button_undo.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,694},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>ui_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,384},{188,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{188,58}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>ui_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,324},{188,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{188,58}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>ui_draw_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,421},{104,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{104,102}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>ui_return.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,614},{103,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,61}}</string>
                <key>sourceSize</key>
                <string>{105,61}</string>
            </dict>
            <key>ui_return_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,966},{95,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{95,55}}</string>
                <key>sourceSize</key>
                <string>{105,61}</string>
            </dict>
            <key>ui_srk.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,115},{300,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,116}}</string>
                <key>sourceSize</key>
                <string>{300,116}</string>
            </dict>
            <key>ui_xzk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,620},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ui_xzk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,620},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>zzgc_gj_zsjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,444},{160,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,173}}</string>
                <key>sourceSize</key>
                <string>{160,173}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Colo_ui0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3bf1dd451b37d887b7b1e892ab43ece:1/1$</string>
            <key>textureFileName</key>
            <string>Colo_ui0.png</string>
        </dict>
    </dict>
</plist>
