<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>bs1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {31, 9}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{31, 9}</string>
			<key>spriteSourceSize</key>
			<string>{39, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 134}, {31, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {37, 11}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{37, 11}</string>
			<key>spriteSourceSize</key>
			<string>{39, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 121}, {37, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{15, 40}</string>
			<key>spriteSourceSize</key>
			<string>{15, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 0}, {15, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {15, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{15, 40}</string>
			<key>spriteSourceSize</key>
			<string>{15, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 42}, {15, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {42, 12}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{42, 12}</string>
			<key>spriteSourceSize</key>
			<string>{44, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 1009}, {42, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {40, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 12}</string>
			<key>spriteSourceSize</key>
			<string>{44, 12}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 1009}, {40, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {12, 33}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{12, 33}</string>
			<key>spriteSourceSize</key>
			<string>{16, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1005, 0}, {12, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bs8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 35}</string>
			<key>spriteSourceSize</key>
			<string>{16, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{720, 84}, {16, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>caozuogan1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {77, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 79}</string>
			<key>spriteSourceSize</key>
			<string>{79, 79}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{925, 154}, {79, 79}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>caozuogan2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {38, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{38, 38}</string>
			<key>spriteSourceSize</key>
			<string>{38, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 980}, {38, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>changshangyao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {44, 129}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 135}</string>
			<key>spriteSourceSize</key>
			<string>{48, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 66}, {48, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chengtou_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 61}</string>
			<key>spriteSourceSize</key>
			<string>{71, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{507, 442}, {71, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chengtou_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{71, 61}</string>
			<key>spriteSourceSize</key>
			<string>{71, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{507, 505}, {71, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chengzi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {109, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 64}</string>
			<key>spriteSourceSize</key>
			<string>{113, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 0}, {113, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chengzi_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {185, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 119}</string>
			<key>spriteSourceSize</key>
			<string>{185, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 0}, {185, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chengzi_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {185, 117}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{185, 119}</string>
			<key>spriteSourceSize</key>
			<string>{185, 119}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{521, 0}, {185, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chezikongzhi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {48, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{54, 95}</string>
			<key>spriteSourceSize</key>
			<string>{54, 95}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 66}, {54, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>chezikongzhi_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 42}</string>
			<key>spriteSourceSize</key>
			<string>{36, 42}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 980}, {36, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>daojulan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {320, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 61}</string>
			<key>spriteSourceSize</key>
			<string>{320, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{199, 627}, {320, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ddianji.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 2}, {116, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 73}</string>
			<key>spriteSourceSize</key>
			<string>{124, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{613, 134}, {124, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deng1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {183, 103}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{183, 109}</string>
			<key>spriteSourceSize</key>
			<string>{183, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{428, 154}, {183, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>deng2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {183, 101}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{183, 109}</string>
			<key>spriteSourceSize</key>
			<string>{183, 109}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 121}, {183, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dengguang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {197, 241}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{197, 245}</string>
			<key>spriteSourceSize</key>
			<string>{197, 245}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 482}, {197, 245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dian1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {13, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1005, 52}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dian2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {11, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1005, 35}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diguan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {34, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 135}</string>
			<key>spriteSourceSize</key>
			<string>{36, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{372, 163}, {36, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>diguan_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {30, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{36, 135}</string>
			<key>spriteSourceSize</key>
			<string>{36, 135}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 203}, {36, 135}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {55, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{521, 568}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 3}, {65, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 44}</string>
			<key>spriteSourceSize</key>
			<string>{83, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{325, 980}, {83, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {61, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 44}</string>
			<key>spriteSourceSize</key>
			<string>{83, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{495, 980}, {83, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 9}, {63, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 44}</string>
			<key>spriteSourceSize</key>
			<string>{83, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 980}, {83, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 12}, {65, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{83, 44}</string>
			<key>spriteSourceSize</key>
			<string>{83, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 980}, {83, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {65, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 49}</string>
			<key>spriteSourceSize</key>
			<string>{73, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{595, 273}, {73, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {61, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 49}</string>
			<key>spriteSourceSize</key>
			<string>{73, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{472, 391}, {73, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {61, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 49}</string>
			<key>spriteSourceSize</key>
			<string>{73, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{547, 380}, {73, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_brow_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {59, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 49}</string>
			<key>spriteSourceSize</key>
			<string>{73, 49}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{546, 329}, {73, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 1}, {62, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{72, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{521, 265}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {72, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{72, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{613, 209}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {72, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{72, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{410, 265}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {72, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{72, 62}</string>
			<key>spriteSourceSize</key>
			<string>{72, 62}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 340}, {72, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {61, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 60}</string>
			<key>spriteSourceSize</key>
			<string>{73, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 404}, {73, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 60}</string>
			<key>spriteSourceSize</key>
			<string>{73, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{396, 329}, {73, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 60}</string>
			<key>spriteSourceSize</key>
			<string>{73, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{397, 391}, {73, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eye_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 60}</string>
			<key>spriteSourceSize</key>
			<string>{73, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{471, 329}, {73, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eyeb_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 29}</string>
			<key>spriteSourceSize</key>
			<string>{29, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{517, 121}, {29, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_eyeb_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {29, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{29, 29}</string>
			<key>spriteSourceSize</key>
			<string>{29, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{548, 121}, {29, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 56}, {298, 424}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {238, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{480, 835}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {232, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{199, 482}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {232, 135}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 729}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {230, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 874}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {232, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 835}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {238, 143}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{480, 690}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>grandpa_mouth_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {238, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{238, 143}</string>
			<key>spriteSourceSize</key>
			<string>{238, 143}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{240, 690}, {238, 143}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>home1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{439, 521}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>home2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{439, 453}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hongzhong_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {37, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 27}</string>
			<key>spriteSourceSize</key>
			<string>{39, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{699, 980}, {39, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hongzhong_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {37, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 27}</string>
			<key>spriteSourceSize</key>
			<string>{39, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{199, 690}, {39, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hongzhong_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 1}, {23, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{39, 27}</string>
			<key>spriteSourceSize</key>
			<string>{39, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{658, 980}, {39, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>hz_gl.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {55, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 68}</string>
			<key>spriteSourceSize</key>
			<string>{59, 68}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 431}, {59, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiandao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 3}, {36, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 152}</string>
			<key>spriteSourceSize</key>
			<string>{76, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{439, 0}, {76, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiandao_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 3}, {34, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{76, 152}</string>
			<key>spriteSourceSize</key>
			<string>{76, 152}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{927, 0}, {76, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>bs.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>