<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>jiangshi_brow_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {77, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{669, 168}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{831, 443}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 12}, {75, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{816, 161}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 6}, {73, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 222}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {77, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{885, 263}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {75, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{941, 62}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {73, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{940, 182}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_brow_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{79, 38}</string>
			<key>spriteSourceSize</key>
			<string>{79, 38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 0}, {79, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {51, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 50}</string>
			<key>spriteSourceSize</key>
			<string>{57, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{644, 589}, {57, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 50}</string>
			<key>spriteSourceSize</key>
			<string>{57, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{964, 102}, {57, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {57, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{880, 360}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {57, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{821, 306}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {51, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{905, 128}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {57, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{821, 360}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {57, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{880, 306}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eye_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {57, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{57, 52}</string>
			<key>spriteSourceSize</key>
			<string>{57, 52}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{747, 320}, {57, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eyeb_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{27, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{964, 154}, {27, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_eyeb_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 26}</string>
			<key>spriteSourceSize</key>
			<string>{27, 26}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 312}, {27, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {300, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 10}, {127, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 702}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {161, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 104}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {159, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{502, 208}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {143, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{420, 605}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {115, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{420, 397}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {127, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{506, 0}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshi_mouth_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 10}, {123, 62}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{161, 102}</string>
			<key>spriteSourceSize</key>
			<string>{161, 102}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{420, 501}, {161, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshinose.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {105, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 107}</string>
			<key>spriteSourceSize</key>
			<string>{113, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 482}, {113, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshinose_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {67, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{669, 376}, {73, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshinose_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {67, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 952}, {73, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiangshinosezhezhao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {102, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 806}, {106, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {46, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{48, 63}</string>
			<key>spriteSourceSize</key>
			<string>{48, 63}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 148}, {48, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 66}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 168}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{64, 64}</string>
			<key>spriteSourceSize</key>
			<string>{64, 64}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{817, 0}, {64, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiantou_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {59, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 76}</string>
			<key>spriteSourceSize</key>
			<string>{59, 76}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{583, 563}, {59, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiazi1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{879, 66}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiazi2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{817, 66}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiazi3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{816, 201}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiazi4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {36, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{878, 201}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiguang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {62, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 81}</string>
			<key>spriteSourceSize</key>
			<string>{62, 81}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{583, 480}, {62, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiguangTip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{420, 709}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>jiguangqiang.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 6}, {56, 139}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{66, 151}</string>
			<key>spriteSourceSize</key>
			<string>{66, 151}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 482}, {66, 151}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>kuijing1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {141, 141}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{141, 141}</string>
			<key>spriteSourceSize</key>
			<string>{141, 141}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 809}, {141, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>liubiti.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {19, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 44}</string>
			<key>spriteSourceSize</key>
			<string>{21, 44}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{618, 340}, {21, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock_all1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {60, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 46}</string>
			<key>spriteSourceSize</key>
			<string>{62, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{750, 708}, {62, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>lock_all2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {60, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{62, 46}</string>
			<key>spriteSourceSize</key>
			<string>{62, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{182, 651}, {62, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mail.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {55, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{75, 952}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>menu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {55, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{115, 635}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mianqian.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {21, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{33, 126}</string>
			<key>spriteSourceSize</key>
			<string>{33, 126}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{251, 806}, {33, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mianqianTip.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{512, 709}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mianqiu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {20, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{24, 29}</string>
			<key>spriteSourceSize</key>
			<string>{24, 29}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 271}, {24, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>more.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {57, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 67}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{647, 520}, {67, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>mouth.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {54, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{60, 60}</string>
			<key>spriteSourceSize</key>
			<string>{60, 60}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{883, 0}, {60, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nangzhongwai.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {33, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{37, 37}</string>
			<key>spriteSourceSize</key>
			<string>{37, 37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{246, 650}, {37, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nangzhongwai_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {16, 10}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 18}</string>
			<key>spriteSourceSize</key>
			<string>{26, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{945, 40}, {26, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nangzhongwai_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 18}</string>
			<key>spriteSourceSize</key>
			<string>{26, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{641, 376}, {26, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nangzhongwai_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 5}, {10, 8}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{26, 18}</string>
			<key>spriteSourceSize</key>
			<string>{26, 18}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 630}, {26, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 7}, {63, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{787, 568}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {69, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{751, 132}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 5}, {55, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{828, 128}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {73, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 414}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 9}, {69, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 376}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei-bimao_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {75, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{75, 27}</string>
			<key>spriteSourceSize</key>
			<string>{75, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{813, 414}, {75, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nei_mianqian.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 10}, {39, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 167}</string>
			<key>spriteSourceSize</key>
			<string>{51, 167}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{183, 482}, {51, 167}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>neiqiangjing.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {122, 393}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 395}</string>
			<key>spriteSourceSize</key>
			<string>{128, 395}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{290, 482}, {128, 395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>neiqiangjing_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {122, 395}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 395}</string>
			<key>spriteSourceSize</key>
			<string>{128, 395}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 0}, {128, 395}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>neizi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 5}, {36, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 146}</string>
			<key>spriteSourceSize</key>
			<string>{52, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{236, 482}, {52, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>neizi_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 5}, {32, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 146}</string>
			<key>spriteSourceSize</key>
			<string>{52, 146}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 0}, {52, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextPatient1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 65}</string>
			<key>spriteSourceSize</key>
			<string>{88, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{679, 641}, {88, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nextPatient2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {88, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{88, 65}</string>
			<key>spriteSourceSize</key>
			<string>{88, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{741, 448}, {88, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nose.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {111, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 107}</string>
			<key>spriteSourceSize</key>
			<string>{113, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 591}, {113, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nose_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {67, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{604, 641}, {73, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nose_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {67, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{73, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{666, 448}, {73, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nosezhezhao 2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {111, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{113, 107}</string>
			<key>spriteSourceSize</key>
			<string>{113, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 700}, {113, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nosezhezhao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {102, 67}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{106, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{143, 915}, {106, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {61, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 41}</string>
			<key>spriteSourceSize</key>
			<string>{67, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{816, 263}, {67, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {57, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 41}</string>
			<key>spriteSourceSize</key>
			<string>{67, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{747, 234}, {67, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {63, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 41}</string>
			<key>spriteSourceSize</key>
			<string>{67, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{747, 277}, {67, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {63, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 41}</string>
			<key>spriteSourceSize</key>
			<string>{67, 41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{744, 405}, {67, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 6}, {61, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 51}</string>
			<key>spriteSourceSize</key>
			<string>{69, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{604, 713}, {69, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {55, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 51}</string>
			<key>spriteSourceSize</key>
			<string>{69, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{679, 708}, {69, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {63, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 51}</string>
			<key>spriteSourceSize</key>
			<string>{69, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{716, 568}, {69, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_brow_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {65, 29}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{69, 51}</string>
			<key>spriteSourceSize</key>
			<string>{69, 51}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{741, 515}, {69, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_left_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {81, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{81, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{535, 312}, {81, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_left_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {79, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{81, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 397}, {81, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_left_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {75, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{81, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{583, 396}, {81, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_left_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {77, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{81, 82}</string>
			<key>spriteSourceSize</key>
			<string>{81, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 312}, {81, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_right_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{669, 84}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_right_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{665, 208}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_right_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{665, 292}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eye_right_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {76, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 82}</string>
			<key>spriteSourceSize</key>
			<string>{80, 82}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{669, 0}, {80, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eyeb_left.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 27}</string>
			<key>spriteSourceSize</key>
			<string>{27, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 213}, {27, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_eyeb_right.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {27, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 27}</string>
			<key>spriteSourceSize</key>
			<string>{27, 27}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{452, 242}, {27, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>jiangshinv.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>