<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>nv_face.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {304, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 9}, {96, 57}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{854, 164}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {108, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{647, 351}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {110, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{734, 552}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {128, 77}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{647, 252}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 6}, {98, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 927}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 0}, {98, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{651, 700}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>nv_mouth_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {86, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{128, 97}</string>
			<key>spriteSourceSize</key>
			<string>{128, 97}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{130, 927}, {128, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>particleTexture.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 16}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{16, 16}</string>
			<key>spriteSourceSize</key>
			<string>{16, 16}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{989, 65}, {16, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>photo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 8}, {55, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{65, 65}</string>
			<key>spriteSourceSize</key>
			<string>{65, 65}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{921, 440}, {65, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{858, 0}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 0}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{398, 754}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 754}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{267, 754}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ren6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {117, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{129, 162}</string>
			<key>spriteSourceSize</key>
			<string>{129, 162}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 164}, {129, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>restore.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 7}, {108, 59}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{124, 73}</string>
			<key>spriteSourceSize</key>
			<string>{124, 73}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{777, 372}, {124, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shadow.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {63, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{63, 31}</string>
			<key>spriteSourceSize</key>
			<string>{63, 31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{529, 865}, {63, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shangkou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {27, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{27, 40}</string>
			<key>spriteSourceSize</key>
			<string>{27, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{989, 0}, {27, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>shuiguan.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 12}, {124, 431}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{134, 443}</string>
			<key>spriteSourceSize</key>
			<string>{134, 443}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 482}, {134, 443}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>signal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 0}, {106, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{114, 114}</string>
			<key>spriteSourceSize</key>
			<string>{114, 114}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{529, 380}, {114, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {57, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 67}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 450}, {67, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sound2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {57, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{67, 67}</string>
			<key>spriteSourceSize</key>
			<string>{67, 67}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{852, 447}, {67, 67}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>start1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{529, 743}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>start2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {120, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{375, 328}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>suo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {53, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{59, 66}</string>
			<key>spriteSourceSize</key>
			<string>{59, 66}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{903, 372}, {59, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tidao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {45, 146}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{51, 148}</string>
			<key>spriteSourceSize</key>
			<string>{51, 148}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 328}, {51, 148}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {94, 156}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{100, 160}</string>
			<key>spriteSourceSize</key>
			<string>{100, 160}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{453, 166}, {100, 160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {261, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{275, 30}</string>
			<key>spriteSourceSize</key>
			<string>{275, 30}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 72}, {275, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_0.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{555, 265}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{555, 163}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{580, 496}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{642, 598}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 898}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{672, 450}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{260, 918}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{444, 918}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{352, 918}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{550, 641}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 641}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>tip_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{90, 100}</string>
			<key>spriteSourceSize</key>
			<string>{90, 100}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{628, 865}, {90, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_ad.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 70}</string>
			<key>spriteSourceSize</key>
			<string>{320, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{536, 0}, {320, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_button_buy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {108, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 57}</string>
			<key>spriteSourceSize</key>
			<string>{120, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{849, 263}, {120, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_button_cancel.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {108, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 57}</string>
			<key>spriteSourceSize</key>
			<string>{120, 57}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{530, 104}, {120, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_close1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {188, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{652, 104}, {200, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_close2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 7}, {188, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{200, 72}</string>
			<key>spriteSourceSize</key>
			<string>{200, 72}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{647, 178}, {200, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_dgt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {52, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{52, 50}</string>
			<key>spriteSourceSize</key>
			<string>{52, 50}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{497, 328}, {52, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_draw_button1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{777, 252}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_draw_button2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{70, 70}</string>
			<key>spriteSourceSize</key>
			<string>{70, 70}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 94}, {70, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_draw_button_bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {104, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{120, 120}</string>
			<key>spriteSourceSize</key>
			<string>{120, 120}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 519}, {120, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_gx.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {15, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{21, 21}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{989, 42}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_gy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 92}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{74, 92}</string>
			<key>spriteSourceSize</key>
			<string>{74, 92}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{458, 0}, {74, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_tckt.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 2}, {274, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 270}</string>
			<key>spriteSourceSize</key>
			<string>{320, 270}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{136, 482}, {320, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_xb.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{218, 46}</string>
			<key>spriteSourceSize</key>
			<string>{218, 46}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{777, 324}, {218, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_xzg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {86, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{86, 84}</string>
			<key>spriteSourceSize</key>
			<string>{86, 84}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{764, 450}, {86, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>nvui.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>