<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>CloseNormal.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 32}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 480}, {32, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>CloseSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {40, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 40}</string>
			<key>spriteSourceSize</key>
			<string>{40, 40}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 438}, {40, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bahen.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{71, 43}</string>
			<key>spriteSourceSize</key>
			<string>{71, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{177, 964}, {71, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bar.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {152, 186}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{152, 186}</string>
			<key>spriteSourceSize</key>
			<string>{156, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{673, 797}, {152, 186}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bg2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {320, 480}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{320, 480}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 482}, {320, 480}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bidou.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 4}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{22, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 30}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bigtitle.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {324, 313}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{324, 313}</string>
			<key>spriteSourceSize</key>
			<string>{324, 313}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{644, 482}, {324, 313}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bimao.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {14, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{14, 28}</string>
			<key>spriteSourceSize</key>
			<string>{14, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 0}, {14, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bimaofanwei.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {67, 70}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{67, 70}</string>
			<key>spriteSourceSize</key>
			<string>{73, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{604, 918}, {67, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bimaoqi.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {44, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{44, 145}</string>
			<key>spriteSourceSize</key>
			<string>{58, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 147}, {44, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bimaoqi_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 8}, {44, 145}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{44, 145}</string>
			<key>spriteSourceSize</key>
			<string>{58, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 0}, {44, 145}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {57, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 58}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{118, 964}, {57, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao1_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {47, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 46}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 294}, {47, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {57, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 58}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 964}, {57, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {47, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 46}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 390}, {47, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {57, 58}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{57, 58}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59, 964}, {57, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>bipao3_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 7}, {47, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{47, 46}</string>
			<key>spriteSourceSize</key>
			<string>{59, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 342}, {47, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>biqiangneibu.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 51}, {320, 402}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{320, 402}</string>
			<key>spriteSourceSize</key>
			<string>{320, 480}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{322, 514}, {320, 402}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>suo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {24, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 28}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 438}, {24, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sy_xbtn.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{68, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{320, 964}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>sy_xbtn1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {68, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{68, 44}</string>
			<key>spriteSourceSize</key>
			<string>{68, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 964}, {68, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_return.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {103, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 61}</string>
			<key>spriteSourceSize</key>
			<string>{105, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{390, 918}, {105, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ui_return_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 4}, {95, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{105, 61}</string>
			<key>spriteSourceSize</key>
			<string>{105, 61}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{497, 918}, {105, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.6.0</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>Untitled</string>
		<key>textureFileName</key>
		<string>za1.png</string>
		<key>premultipliedAlpha</key>
		<false/>
	</dict>
</dict>
</plist>