<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CloseNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,214},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>PT_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>PT_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,482},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>bj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,322},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>bj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,643},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>boy1_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,247},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>damuzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1},{26,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,19}}</string>
                <key>sourceSize</key>
                <string>{26,19}</string>
            </dict>
            <key>guanbi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,680},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>guanbi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,717},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>heiban1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,28},{19,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,17}}</string>
                <key>sourceSize</key>
                <string>{19,17}</string>
            </dict>
            <key>hongzhong1_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,948},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>hongzhong4.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,963},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>hongzhong4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,964},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>hongzhong4_1_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,964},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>hongzhong4_1_xxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,964},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>hongzhong4_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,964},{58,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,76}</string>
            </dict>
            <key>jiguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,71},{13,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,85}}</string>
                <key>sourceSize</key>
                <string>{13,85}</string>
            </dict>
            <key>js_brow_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,963},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>js_brow_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,963},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>js_brow_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,963},{87,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,58}}</string>
                <key>sourceSize</key>
                <string>{87,58}</string>
            </dict>
            <key>js_eye_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,845},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>js_mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,764},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>laojian.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,964},{30,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,27}}</string>
                <key>sourceSize</key>
                <string>{30,27}</string>
            </dict>
            <key>niezi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,555},{30,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,124}}</string>
                <key>sourceSize</key>
                <string>{30,124}</string>
            </dict>
            <key>old_eye_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,858},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>old_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,181},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>old_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,147},{33,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,33}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>old_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,147},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>old_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,238},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>old_mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,329},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>old_mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,420},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>old_mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,511},{165,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,90}}</string>
                <key>sourceSize</key>
                <string>{165,90}</string>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,602},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>sy_xbtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,764},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>sy_xbtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,811},{68,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,46}}</string>
                <key>sourceSize</key>
                <string>{68,46}</string>
            </dict>
            <key>tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,279},{275,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{275,30}}</string>
                <key>sourceSize</key>
                <string>{275,30}</string>
            </dict>
            <key>ui_button_buy.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,964},{120,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,57}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>ui_button_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,964},{120,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,57}}</string>
                <key>sourceSize</key>
                <string>{120,57}</string>
            </dict>
            <key>ui_close1.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,1},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>ui_close2.png</key>
            <dict>
                <key>frame</key>
                <string>{{823,74},{200,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,72}}</string>
                <key>sourceSize</key>
                <string>{200,72}</string>
            </dict>
            <key>ui_gx.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1000},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>yaogao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,46},{17,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,24}}</string>
                <key>sourceSize</key>
                <string>{17,24}</string>
            </dict>
            <key>zhijiaxiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1000},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlehanddoctorlist2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eec094481bde39706a9df7c9d03111:3/7$</string>
            <key>textureFileName</key>
            <string>littlehanddoctorlist2.png</string>
        </dict>
    </dict>
</plist>
