<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boy1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>boy1_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,927},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>boy1_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,706},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>boy1_mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,761},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>boy1_mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,816},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>boy1_mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,871},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>boy2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>boy2_eye_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,924},{100,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,99}}</string>
                <key>sourceSize</key>
                <string>{100,99}</string>
            </dict>
            <key>boy2_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,927},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>boy2_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,926},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>boy2_mouth_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,926},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>cashang.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,963},{42,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,59}}</string>
                <key>sourceSize</key>
                <string>{42,59}</string>
            </dict>
            <key>ci.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1},{6,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,39}}</string>
                <key>sourceSize</key>
                <string>{6,39}</string>
            </dict>
            <key>ci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,41},{6,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,39}}</string>
                <key>sourceSize</key>
                <string>{6,39}</string>
            </dict>
            <key>ci2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,81},{6,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,39}}</string>
                <key>sourceSize</key>
                <string>{6,39}</string>
            </dict>
            <key>cuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,482},{22,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,108}}</string>
                <key>sourceSize</key>
                <string>{22,108}</string>
            </dict>
            <key>diaopin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,595}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,595}}</string>
                <key>sourceSize</key>
                <string>{52,595}</string>
            </dict>
            <key>diaopin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,597},{41,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,390}}</string>
                <key>sourceSize</key>
                <string>{41,390}</string>
            </dict>
            <key>diaopin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,597},{32,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,361}}</string>
                <key>sourceSize</key>
                <string>{32,361}</string>
            </dict>
            <key>diguang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,959},{7,9}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,9}}</string>
                <key>sourceSize</key>
                <string>{7,9}</string>
            </dict>
            <key>girl-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>girl_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,927},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>girl_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,927},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,31}}</string>
                <key>sourceSize</key>
                <string>{31,31}</string>
            </dict>
            <key>girl_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,482},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>girl_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,538},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>girl_mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,594},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>girl_mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,650},{94,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,55}}</string>
                <key>sourceSize</key>
                <string>{94,55}</string>
            </dict>
            <key>heiban2.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,927},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>heiban3.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,941},{13,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,11}}</string>
                <key>sourceSize</key>
                <string>{13,11}</string>
            </dict>
            <key>hongzhong3.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,482},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>hongzhong3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,482},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>hongzhong3_1_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,963},{58,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,106}}</string>
                <key>sourceSize</key>
                <string>{58,106}</string>
            </dict>
            <key>js-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,482},{320,480}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,480}}</string>
                <key>sourceSize</key>
                <string>{320,480}</string>
            </dict>
            <key>mouth.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,963},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>old_brow_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,963},{91,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,56}}</string>
                <key>sourceSize</key>
                <string>{91,56}</string>
            </dict>
            <key>old_brow_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,959},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,64}</string>
            </dict>
            <key>old_eye_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,927},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>old_eye_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,927},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>rouci1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,963},{17,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,60}}</string>
                <key>sourceSize</key>
                <string>{17,60}</string>
            </dict>
            <key>shabu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,924},{141,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,99}}</string>
                <key>sourceSize</key>
                <string>{141,99}</string>
            </dict>
            <key>shangkou3.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,958},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>shouxin_xxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,593},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>ui_rep.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,482},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>ui_rep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,482},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>xxg_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,482},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>xxg_mouth_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,482},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>xxg_mouth_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,482},{110,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,60}}</string>
                <key>sourceSize</key>
                <string>{110,60}</string>
            </dict>
            <key>zhenjun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,988},{35,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,22}}</string>
                <key>sourceSize</key>
                <string>{35,22}</string>
            </dict>
            <key>zhenjun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,988},{29,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,34}}</string>
                <key>sourceSize</key>
                <string>{29,34}</string>
            </dict>
            <key>zhijiadao1.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,593},{136,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,333}}</string>
                <key>sourceSize</key>
                <string>{136,333}</string>
            </dict>
            <key>zhijiadao2.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,593},{136,333}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,333}}</string>
                <key>sourceSize</key>
                <string>{136,333}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlehanddoctorlist1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eec094481bde39706a9df7c9d03111:2/7$</string>
            <key>textureFileName</key>
            <string>littlehanddoctorlist1.png</string>
        </dict>
    </dict>
</plist>
