<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,464},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>NEXT1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,941},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>NEXT2.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,940},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>PT_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,619},{320,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,201}}</string>
                <key>sourceSize</key>
                <string>{320,201}</string>
            </dict>
            <key>boy1_eye_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,870},{98,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,100}}</string>
                <key>sourceSize</key>
                <string>{98,100}</string>
            </dict>
            <key>boy1_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,660},{93,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,54}}</string>
                <key>sourceSize</key>
                <string>{93,54}</string>
            </dict>
            <key>chuangketie.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,251},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>cuozi_neikui.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,375},{88,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,225}}</string>
                <key>sourceSize</key>
                <string>{88,225}</string>
            </dict>
            <key>diguan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,288},{37,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,96}}</string>
                <key>sourceSize</key>
                <string>{37,96}</string>
            </dict>
            <key>diguan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,971},{37,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,96}}</string>
                <key>sourceSize</key>
                <string>{37,96}</string>
            </dict>
            <key>fangdajing.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,602},{57,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,115}}</string>
                <key>sourceSize</key>
                <string>{57,115}</string>
            </dict>
            <key>hongpao.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,251},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,29}}</string>
                <key>sourceSize</key>
                <string>{27,29}</string>
            </dict>
            <key>jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,940},{48,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,63}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>jiantou1_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,251},{28,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,43}}</string>
                <key>sourceSize</key>
                <string>{28,43}</string>
            </dict>
            <key>jiantou4.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,790},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>jiguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{40,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,469}}</string>
                <key>sourceSize</key>
                <string>{40,469}</string>
            </dict>
            <key>jiguang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,471},{40,469}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,469}}</string>
                <key>sourceSize</key>
                <string>{40,469}</string>
            </dict>
            <key>js_eye_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,464},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>js_eye_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,567},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>js_eye_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,670},{103,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,102}}</string>
                <key>sourceSize</key>
                <string>{103,102}</string>
            </dict>
            <key>js_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,251},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>js_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,251},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>niezi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,256},{30,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,124}}</string>
                <key>sourceSize</key>
                <string>{30,124}</string>
            </dict>
            <key>niezi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,256},{30,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,124}}</string>
                <key>sourceSize</key>
                <string>{30,124}</string>
            </dict>
            <key>old_eye_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,773},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>panzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,619},{320,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,86}}</string>
                <key>sourceSize</key>
                <string>{320,86}</string>
            </dict>
            <key>pengyaohu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,870},{69,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,121}}</string>
                <key>sourceSize</key>
                <string>{69,121}</string>
            </dict>
            <key>play_mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,940},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>play_mini_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,940},{205,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,81}}</string>
                <key>sourceSize</key>
                <string>{205,81}</string>
            </dict>
            <key>shangkou1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,251},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>shangkou2.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,251},{28,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,65}}</string>
                <key>sourceSize</key>
                <string>{28,65}</string>
            </dict>
            <key>shoubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,1},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>shoubei_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>shoubei_xxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,288},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>shouxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,288},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>shouxin_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,288},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>shouzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,1},{138,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,286}}</string>
                <key>sourceSize</key>
                <string>{138,286}</string>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1},{163,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,161}}</string>
                <key>sourceSize</key>
                <string>{163,161}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,251},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,251},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>tip_penwu.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,790},{49,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,79}}</string>
                <key>sourceSize</key>
                <string>{49,79}</string>
            </dict>
            <key>ui_ad.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,619},{320,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,70}}</string>
                <key>sourceSize</key>
                <string>{320,70}</string>
            </dict>
            <key>ui_dgt.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,971},{52,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,50}</string>
            </dict>
            <key>ui_gy.png</key>
            <dict>
                <key>frame</key>
                <string>{{825,715},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>ui_tckt.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,619},{320,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,270}}</string>
                <key>sourceSize</key>
                <string>{320,270}</string>
            </dict>
            <key>ui_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,328},{218,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,46}}</string>
                <key>sourceSize</key>
                <string>{218,46}</string>
            </dict>
            <key>xxg_eyeb_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,251},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xxg_eyeb_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,251},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>zhezhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,288},{26,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,47}}</string>
                <key>sourceSize</key>
                <string>{26,47}</string>
            </dict>
            <key>zhijia4.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,251},{74,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,30}}</string>
                <key>sourceSize</key>
                <string>{74,30}</string>
            </dict>
            <key>zhuozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,619},{320,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,129}}</string>
                <key>sourceSize</key>
                <string>{320,129}</string>
            </dict>
            <key>zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,163},{163,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,92}}</string>
                <key>sourceSize</key>
                <string>{163,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlehanddoctorlist3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eec094481bde39706a9df7c9d03111:4/7$</string>
            <key>textureFileName</key>
            <string>littlehanddoctorlist3.png</string>
        </dict>
    </dict>
</plist>
