<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_2_screen.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,99},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>boy2_brow_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,111},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>boy2_brow_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,111},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>boy2_brow_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,167},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>boy2_brow_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,167},{76,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,55}}</string>
                <key>sourceSize</key>
                <string>{76,55}</string>
            </dict>
            <key>boy2_brow_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>boy2_mouth_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>bt_shoubei.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,223},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>bt_shoubei1.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,280},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>bt_shouxin.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,281},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>bt_shouxin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,281},{56,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,57}}</string>
                <key>sourceSize</key>
                <string>{56,57}</string>
            </dict>
            <key>girl_brow_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>js_brow_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,167},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>js_brow_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,223},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>js_brow_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,224},{90,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,56}}</string>
                <key>sourceSize</key>
                <string>{90,56}</string>
            </dict>
            <key>lock_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>lock_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,44},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>menu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,56},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>menu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,56},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>pt_help_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,56},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>ui_button_fb.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,338},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_button_fba.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,338},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_button_home.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,409},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ui_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,409},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlehanddoctorlist6.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eec094481bde39706a9df7c9d03111:7/7$</string>
            <key>textureFileName</key>
            <string>littlehanddoctorlist6.png</string>
        </dict>
    </dict>
</plist>
