<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,254},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,381},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,508},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,635},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,762},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,762},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,762},{126,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,137}}</string>
                <key>sourceSize</key>
                <string>{126,137}</string>
            </dict>
            <key>Xguang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>Xguang1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,332},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>Xguang1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,663},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>Xguang1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,1},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>Xguang1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1},{249,330}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,330}}</string>
                <key>sourceSize</key>
                <string>{249,330}</string>
            </dict>
            <key>Xguangyi.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,251},{310,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,227}}</string>
                <key>sourceSize</key>
                <string>{310,227}</string>
            </dict>
            <key>Xguangyi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,479},{310,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,227}}</string>
                <key>sourceSize</key>
                <string>{310,227}</string>
            </dict>
            <key>bingkuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,707},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>cashang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,645},{40,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,47}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>fangdajing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,762},{233,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,242}}</string>
                <key>sourceSize</key>
                <string>{233,242}</string>
            </dict>
            <key>girl_brow_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,576},{68,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,42}}</string>
                <key>sourceSize</key>
                <string>{68,42}</string>
            </dict>
            <key>girl_eye_right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,923},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>girl_eye_right_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,900},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>girl_eye_right_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,904},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,102}}</string>
                <key>sourceSize</key>
                <string>{100,102}</string>
            </dict>
            <key>hongzhong1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,150},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>hongzhong1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,202},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>hongzhong1_1_js.png</key>
            <dict>
                <key>frame</key>
                <string>{{709,900},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>hongzhong1_1_xxg.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,900},{51,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,103}}</string>
                <key>sourceSize</key>
                <string>{51,103}</string>
            </dict>
            <key>js_mouth_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,576},{130,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,80}}</string>
                <key>sourceSize</key>
                <string>{130,80}</string>
            </dict>
            <key>mb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,251},{311,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,254}}</string>
                <key>sourceSize</key>
                <string>{311,254}</string>
            </dict>
            <key>old_eye_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,53},{105,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,96}}</string>
                <key>sourceSize</key>
                <string>{105,96}</string>
            </dict>
            <key>pengyaohu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,506},{69,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,121}}</string>
                <key>sourceSize</key>
                <string>{69,121}</string>
            </dict>
            <key>pt_help_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,707},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>pt_play4.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,506},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>pt_play5.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,762},{160,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,86}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>qusipi.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,707},{54,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,286}}</string>
                <key>sourceSize</key>
                <string>{54,286}</string>
            </dict>
            <key>shigao.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,1},{51,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,106}}</string>
                <key>sourceSize</key>
                <string>{51,106}</string>
            </dict>
            <key>sound_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,707},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>sound_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,707},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>sound_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,707},{55,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,54}}</string>
                <key>sourceSize</key>
                <string>{55,54}</string>
            </dict>
            <key>tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,506},{100,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,160}}</string>
                <key>sourceSize</key>
                <string>{100,160}</string>
            </dict>
            <key>ui_draw_button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,762},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_draw_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,833},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>ui_draw_button_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,900},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>yaomian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,994},{25,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,90}}</string>
                <key>sourceSize</key>
                <string>{25,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>littlehanddoctorlist4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1eec094481bde39706a9df7c9d03111:5/7$</string>
            <key>textureFileName</key>
            <string>littlehanddoctorlist4.png</string>
        </dict>
    </dict>
</plist>
